* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

h1 {
    margin: 60px 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

p {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}



.about-content-project .url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: .32rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: .16rem;
    width: 5.47rem;
    justify-content: space-around;
}

.about-content-project .url a img {
    width: 1.2rem;
}





    .create-main-left-project .url {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: .32rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: .16rem;
    width: 5.47rem;
    justify-content: space-around;
}
.partners-contant-item:nth-child(1) {
    border-radius: 0 0 0;
}

.partners-contant-item:nth-child(2) {
    border-radius: 0 0 0;
}



.
.partners-contant-item .bw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.partners-contant img{
    max-height: 150px; 
}

.team-card-value img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.16rem;
}